* {
  margin: 0;
  padding: 0;
}

/*Navbar and hero section*/
.navbar {
  background-color: #18181b;
}
.nav-link {
  font-family: Aileron;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: #ffffff;
}
.nav-btn {
  padding: 8px 16px 8px 16px;
  gap: 24px;
  border-radius: 8px;
  border: 1px solid #a1a1aa;
  background-color: transparent;
  font-family: Aileron;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}
.hero {
  background-image: url("https://s3-alpha-sig.figma.com/img/53ff/5b24/c790aa33752934325536a2e06666643b?Expires=1729468800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=NZJUpDKog5vCfAiKV8tIh2LpxjKhv1XSfCMAeUn4JgbmWyK-QtQs-U7D4ZPbArap1LZ0yrH1klQS6fDq6pSwMMAON08WdmV00QGktdIZwDIszR6JbiLe6lIhErGa8C8dDfj4S4yTruoSHeQJ9xAF-P~wiz1mC4zwoOUj0iQuVrHSb-iB9iG7zJQeqArC4P9cFsUl3hVY~ufgva4CdGhDbAzP1xQRgVRDOXHAKt00iEurMI5rq33kwJ-uC-ey6bAKZPjNYpAiJVBEeROLManxSqRjC1t8g-yjZgFxisIixb2qp5oUxPdb2h~jCk7g0Y-5E1TZjZFCPO1cdvEn1W6n4w__");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; /* Prevents background image from repeating */
  min-height: 100vh; /* Full viewport height */
  align-items: center;
  display: flex;
  justify-content: center;
}
.header-cont {
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: flex-start;
  /* text-align: center; */
  width: 100%;
}
.header-text {
  padding-top: 180px;
}
.header-text h3 {
  font-family: Aileron;
  font-size: 72px;
  font-weight: 700;
  line-height: 90px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #ffffff;
}

.header-text p {
  font-family: Aileron;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  color: #d4d4d8;
  max-width: 600px;
  /* margin: 0 auto; */
}
.header-btn {
  /* width: Hug (187px) px; */
  /* height: Hug (48px) px; */
  padding: 12px 16px 12px 16px;
  gap: 24px;
  border-radius: 8px;
  background-color: #dc2626;
  border: none;
  font-family: Aileron;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  margin-top: 24px;
}
/*Row- col section*/
.Section {
  margin-top: 140px;
}
.section {
  padding-top: 100px;
}
.section span {
  padding: 6px 12px 6px 12px;
  gap: 10px;
  border-radius: 100px;
  background-color: #fce9e9;
  font-family: Aileron;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  color: #27272a;
}
.section h5 {
  font-family: Aileron;
  font-size: 60px;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #111111;
}
.section p {
  font-family: Aileron;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #71717a;
}
.section-btn {
  padding: 12px 16px 12px 16px;
  gap: 24px;
  border-radius: 8px;
  background-color: #dc2626;
  border: none;
  font-family: Aileron;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}
.section-hero span {
  padding: 6px 12px 6px 12px;
  gap: 10px;
  border-radius: 100px;
  background-color: #fce9e9;
  font-family: Aileron;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  color: #27272a;
}
.section-hero {
  text-align: center;
  margin-top: 150px;
}
.section-hero h1 {
  font-family: Aileron;
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: -0.02em;
  color: #18181b;
  width: 698px;
  height: 120px;
}
.section-hero h3 {
  font-family: Aileron;
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #18181b;
}
.section-column h5 {
  font-family: Aileron;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
  color: #111111;
}
.section-column p {
  font-family: Aileron;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #71717a;
}

.section-Text {
  padding: 32px 28px 32px 28px; /* Add some padding around the text */
  box-sizing: border-box; /* Ensure padding does not increase size */
  max-width: 100%; /* Prevent the text from overflowing */
  background-color: #e4e4e7;
  width: 512px;
  height: 160px;
  border-radius: 24px;
  position: relative;
  bottom: 70px;
}
.section-Text h5,
.section-Text p {
  margin: 0; /* Remove default margins */
}
.section-Text h5 {
  font-family: Aileron;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
  color: #18181b;
}
.section-Text p {
  font-family: Aileron;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  color: #71717a;
  text-wrap: wrap;
}
.cont-Partner {
  background-color: #18181b;
  border-radius: 20px;
  height: 372px;
  position: relative;
}
.partner-Text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.partner-Text h3 {
  font-family: Aileron;
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #ffffff;
}
.partner-Text p {
  font-family: Aileron;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  text-wrap: wrap;
}
.partner-Img {
  position: absolute;
  right: 20px;
  bottom: 0;
}
.news-Btn {
  padding: 14px 24px 14px 24px;
  gap: 24px;
  border-radius: 10px;
  background-color: #f4f4f4;
  outline: none;
  font-family: Aileron;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  color: #454545;
}
.news-Cont {
  margin-top: 100px;
}
.news-Text h5 {
  font-family: Aileron;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
  color: #111827;
}
.news-Text span {
  font-family: Aileron;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #52525b;
}
@media (max-width: 768px) {
  .nav-btn {
    border: none;
    background-color: #dc2626;
    width: 100%;
  }
  .header-text {
    padding-top: 50px;
  }

  .header-text h3 {
    font-size: 3rem; /* Smaller text for tablets */
    font-family: Aileron;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: -0.02em;
    text-align: left;
  }

  .header-text p {
    font-size: 1rem; /* Adjust paragraph font size */
    font-family: Aileron;
    font-weight: 600;
    height: 72px;
  }

  .header-btn {
    font-size: 0.9rem;
    padding: 8px 15px; /* Smaller button for tablets */
    width: 100%;
  }
  /*Row- col section*/
  .Section {
    margin-top: 5px;
  }
  .section h5 {
    padding-top: 10px;
  }
  .section {
    margin-bottom: 100px;
  }
  .section-btn {
    width: 100%;
    margin-top: 20px;
  }
  .section h5 {
    font-family: Aileron;
    font-size: 30px;
    line-height: 38px;
  }
  .section-hero h1 {
    width: 358px;
    font-family: Aileron;
    font-size: 30px;
    font-weight: 600;
    line-height: 38px;
    text-align: center;
  }
  .section-Text h5 {
    font-size: 20px;
  }
  .section-Text p {
    font-size: 14px;
  }
  br {
    display: none;
  }
  .partner-Text h3 {
    font-size: 30px;
  }
  .partner-Text p {
    font-size: 16px;
  }
  .news-Cont {
    margin-top: 40px;
  }
}

@media (max-width: 480px) {
  .header-text h3 {
    font-size: 1.5rem; /* Smaller text for mobile */
  }

  .header-text p {
    font-size: 0.9rem; /* Smaller text for mobile */
  }

  .header-btn {
    font-size: 0.8rem;
    padding: 6px 12px; /* Smaller button for mobile */
  }
}
