@font-face {
  font-family: "Aileron";
  src: url("../fonts/Aileron-Black.otf") format("otf");
  src: url("../fonts/Aileron-Bold.otf") format("otf");
  src: url("../fonts/Aileron-Heavy.otf") format("otf");
  src: url("../fonts/Aileron-Regular.otf") format("otf");
  src: url("../fonts/Aileron-SemiBold.otf") format("otf");

  font-weight: bold;
  font-style: bold;
}
body {
  font-family: "Aileron", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}

/*Navbar and index page section*/
.navbar-Home {
  background-color: #18181b !important;
}
.navbar-nav .nav-link.active {
  color: #ff0000;
  font-weight: bold;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
  color: #ff0000; /* Change hover and focus color to match the active state */
}
/* .navbar-About {
  background-image: url(../img/Row.png);
} */
.nav-link {
  font-family: Aileron;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: #ffffff;
}
.nav-link-About {
  font-family: Aileron;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: #52525b;
}

.nav-btn {
  padding: 8px 16px 8px 16px;
  gap: 24px;
  border-radius: 8px;
  border: 1px solid #a1a1aa;
  background-color: transparent;
  font-family: Aileron;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}
.nav-btn2 {
  padding: 8px 16px 8px 16px;
  gap: 24px;
  border-radius: 8px;
  background-color: #dc2626;
  font-family: Aileron;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  border: none;
}
.navbar {
  background: rgba(255, 255, 255, 0.7); /* Semi-transparent white background */
}

/* Optional: Add padding to navbar for spacing */

.header-background {
  background-image: url(../img/Background.png);
  background-size: cover; /* Cover the entire container */
  background-position: center;
  background-repeat: no-repeat;
}
.hero {
  background-image: url("https://s3-alpha-sig.figma.com/img/53ff/5b24/c790aa33752934325536a2e06666643b?Expires=1729468800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=NZJUpDKog5vCfAiKV8tIh2LpxjKhv1XSfCMAeUn4JgbmWyK-QtQs-U7D4ZPbArap1LZ0yrH1klQS6fDq6pSwMMAON08WdmV00QGktdIZwDIszR6JbiLe6lIhErGa8C8dDfj4S4yTruoSHeQJ9xAF-P~wiz1mC4zwoOUj0iQuVrHSb-iB9iG7zJQeqArC4P9cFsUl3hVY~ufgva4CdGhDbAzP1xQRgVRDOXHAKt00iEurMI5rq33kwJ-uC-ey6bAKZPjNYpAiJVBEeROLManxSqRjC1t8g-yjZgFxisIixb2qp5oUxPdb2h~jCk7g0Y-5E1TZjZFCPO1cdvEn1W6n4w__");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; /* Prevents background image from repeating */
  min-height: 100vh; /* Full viewport height */
  align-items: center;
  display: flex;
  justify-content: center;
}

.home {
  height: 100vh;
  position: relative;
}
.vid__Motion {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  border-radius: 0;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.8); /* Semi-transparent black background */
}
.home-content {
  margin: 0 auto;
  position: relative;
  top: 150px;
  text-align: center;
  color: #fff;
  z-index: 3;
}

.header-cont {
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: flex-start;
  text-align: center;
  width: 100%;
}
.header-text {
  padding-top: 180px;
}
.header-text h3 {
  font-family: Aileron;
  font-size: 72px;
  font-weight: 700;
  line-height: 90px;
  letter-spacing: -0.02em;
  /* text-align: left; */
  color: #ffffff;
}

.header-text p {
  font-family: Aileron;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  /* text-align: left; */
  color: #d4d4d8;
  /* max-width: 600px; */
  /* margin: 0 auto; */
}
.header-btn {
  /* width: Hug (187px) px; */
  /* height: Hug (48px) px; */
  padding: 12px 16px 12px 16px;
  gap: 24px;
  border-radius: 8px;
  background-color: #dc2626;
  border: none;
  font-family: Aileron;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  margin-top: 24px;
}
/*Row- col section*/
.Section {
  padding-top: 100px;
}
.section {
  padding-top: 100px;
}
.section span {
  padding: 6px 12px 6px 12px;
  gap: 10px;
  border-radius: 100px;
  background-color: #fce9e9;
  font-family: Aileron;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  color: #27272a;
}
.section h5 {
  font-family: Aileron;
  font-size: 60px;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #111111;
}
.section p {
  font-family: Aileron;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #71717a;
}
.section-btn {
  padding: 12px 16px 12px 16px;
  gap: 24px;
  border-radius: 8px;
  background-color: #dc2626;
  border: none;
  font-family: Aileron;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}
.section-hero span {
  padding: 6px 12px 6px 12px;
  gap: 10px;
  border-radius: 100px;
  background-color: #fce9e9;
  font-family: Aileron;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  color: #27272a;
}
.section-hero {
  text-align: center;
  margin-top: 150px;
}
.section-hero h1 {
  font-family: Aileron;
  font-size: 48px;
  font-weight: 600;
  color: #18181b;
}
.section-hero h3 {
  font-family: Aileron;
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #18181b;
}
.section-column h5 {
  font-family: Aileron;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
  color: #111111;
}
.section-column p {
  font-family: Aileron;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #71717a;
}
.section-column {
  margin-top: 100px;
}
.section-Text {
  padding: 32px 28px 32px 28px; /* Add some padding around the text */
  box-sizing: border-box; /* Ensure padding does not increase size */
  max-width: 100%; /* Prevent the text from overflowing */
  background-color: #e4e4e7;
  height: 160px;
  border-radius: 24px;
  position: relative;
  bottom: 70px;
}
.section-Text h5,
.section-Text p {
  margin: 0; /* Remove default margins */
}
.section-Text h5 {
  font-family: Aileron;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
  color: #18181b;
}
.section-Text p {
  font-family: Aileron;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  color: #71717a;
  text-wrap: wrap;
}
.cont-Partner {
  background-color: #18181b;
  border-radius: 20px;
  height: 372px;
  position: relative;
}
.partner-Text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.partner-Text h3 {
  font-family: Aileron;
  font-size: 48px;
  font-weight: 600;
  letter-spacing: -0.02em;
  text-align: center;
  color: #ffffff;
}
.partner-Text p {
  font-family: Aileron;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  text-wrap: wrap;
}
.partner-btn {
  padding: 12px 16px 12px 16px;
  gap: 24px;
  border-radius: 8px;
  background-color: #dc2626;
  border: none;
  font-family: Aileron;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  margin-top: 14px;
}
.partner-Img {
  position: absolute;
  right: 20px;
  bottom: 0;
}
.news-Btn {
  padding: 14px 24px 14px 24px;
  gap: 24px;
  border-radius: 10px;
  background-color: #f4f4f4;
  outline: none;
  font-family: Aileron;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  color: #454545;
}
.news-Cont {
  margin-top: 100px;
}
.news-Text h5 {
  font-family: Aileron;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
  color: #111827;
}
.news-Text span {
  font-family: Aileron;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #52525b;
}
.footer {
  margin-top: 250px;
}
.footer a {
  color: #343a40; /* Dark grey text */
  text-decoration: none;
}
.footer a:hover {
  color: #ff0000; /* Red on hover */
}
.footer .social-icons a {
  font-size: 1.5rem;
  margin-right: 15px;
  color: #343a40;
  transition: color 0.3s;
}
.footer .social-icons a:hover {
  color: #ff0000;
}
.footer .footer-logo img {
  max-width: 150px;
  height: auto;
}
.B__footer {
  padding-top: 100px;
}
.Astosi-Lab {
  font-family: Aileron;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #3f3f46;
}
.social-icons a {
  margin-right: 145px; /* Add spacing between links */
}

.social-icons a:last-child {
  margin-right: 0; /* Remove margin from the last link */
}

/*About page section*/

.section-About {
  padding-top: 100px;
}

.section-About h1 {
  font-family: Aileron;
  font-size: 72px;
  font-weight: 600;
  letter-spacing: -0.02em;
  text-align: center;
  color: #18181b;
}

.section-About span {
  padding: 6px 12px 6px 12px;
  gap: 10px;
  border-radius: 100px;
  background-color: #fce9e9;
  font-family: Aileron;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  color: #27272a;
}
.section-About p {
  font-family: Aileron;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #11111180;
}
.sectionCol h5,
.sectionCol-V h5 {
  font-family: Aileron;
  font-size: 30px;
  font-weight: 600;
  text-align: left;
  color: #111111;
}
.sectionCol p,
.sectionCol-V p {
  font-family: Aileron;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  color: #11111180;
  margin-bottom: 20px;
}
.sectionCol-V li {
  color: #11111180;
  font-family: Aileron;
  font-size: 16px;
}
.sectionCol {
  padding-top: 100px;
}
.Value {
  padding-top: 50px;
}
.Vision {
  margin-top: 100px;
}
.section-Team {
  margin-top: 100px;
}
/* Team Section Styles */
.section-Team h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #18181b;
}

.section-Team p {
  max-width: 600px;
  margin: 0 auto;
  color: #52525b;
  font-family: Aileron;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.team-member {
  margin-top: 50px;
}
.team-member img {
  width: 200px;
  object-fit: cover;
}

.team-member h6 {
  margin-top: 1rem;
  font-size: 1.25rem;
  font-weight: 600;
  font-family: Aileron;
  color: #18181b;
}
.team-member span {
  display: block;
  font-size: 1rem;
  color: #4b5563;
}
.section-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}
/* Services page */

.Service {
  background-color: #18181b;
}
.Service-Col {
  padding-top: 100px;
  margin-bottom: 100px;
}
.Service-Col h3 {
  font-family: Aileron;
  font-size: 60px;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: -0.02em;
  color: #ffffff;
}
.Service-Col p {
  font-family: Aileron;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #ffffff;
}
.Service-Col p i {
  color: #e35151;
}
.service-Col {
  padding-bottom: 150px;
}

.header-service,
.header-About {
  padding-top: 120px;
}
.service-Col img {
  width: 100%;
}
.Play {
  margin-top: 100px;
  margin-bottom: 100px;
}
.play-Col {
  padding-top: 100px;
  margin-bottom: 100px;
}
.play-Col img {
  width: 100%;
}
.Play-Col p {
  font-family: Aileron;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #18181b;
}
.Play-Col h3 {
  font-family: Aileron;
  font-size: 60px;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: -0.02em;
  color: #18181b;
}
.Play-Col p i {
  color: #e35151;
}
video {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  margin-bottom: 100px;
}

/* contact page */
.pitch-text img {
  width: 100%;
}
.submit-btn {
  padding: 12px 16px 12px 16px;
  gap: 24px;
  border-radius: 8px;
  background-color: #dc2626;
  border: none;
  font-family: Aileron;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  margin-top: 14px;
}
.contact-Header {
  margin-top: 100px;
}
/* Blog page */
.blog-flex {
  background-color: #f4f4f5;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}
.blog-Text {
  padding: 56px;
}
.blog-Text span {
  padding: 4px 10px 4px 10px;
  gap: 12px;
  border-radius: 16px;
  border: 1px solid #e4e4e7;
  background-color: #ffffff;
  font-family: Aileron;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #71717a;
}
.blog-Text h4 {
  font-family: Aileron;
  font-size: 30px;
  font-weight: 600;
  line-height: 38px;
  color: #18181b;
  padding-top: 10px;
}
.blog-Text p {
  font-family: Aileron;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #52525b;
}
.blog-btn {
  padding: 8px 16px 8px 16px;
  gap: 24px;
  border-radius: 8px;
  background-color: #18181b;
  border: none;
}
.blog-btn a {
  color: #ffffff;
  font-family: Aileron;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
}
.blog-btn2 {
  border-bottom: 1px solid #18181b;
}
.blog-btn2 a {
  text-decoration: none;
  color: #18181b;
}
.blog-flex {
  min-height: 100%; /* Ensures the text container always fills its parent's height */
}
.water-Img {
  height: 100%; /* Ensures the image doesn't overflow */
  width: auto; /* Keeps the image aspect ratio intact */
}
/* .bl{
  border-bottom: 2px solid #D4D4D8;
  width: 500px;
} */

@media (max-width: 768px) {
  .footer .col-md-4 ul li a {
    margin-right: 15px;
  }
  .nav-btn {
    border: none;
    background-color: #dc2626;
    width: 100%;
  }
  .header-text {
    padding-top: 100px;
  }

  .header-text h3 {
    font-size: 3rem; /* Smaller text for tablets */
    font-family: Aileron;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: -0.02em;
  }
  .header-service,
  .header-About {
    padding-top: 30px;
  }
  .header-text p {
    font-size: 1rem; /* Adjust paragraph font size */
    font-family: Aileron;
    font-weight: 600;
  }

  .header-btn {
    font-size: 0.9rem;
    padding: 8px 15px; /* Smaller button for tablets */
    width: 80%;
    margin-top: 50px;
  }
  /*Row- col section*/
  .Section {
    padding-top: 50px;
  }
  .section h5 {
    padding-top: 10px;
  }
  .section {
    margin-bottom: 100px;
    margin-top: 60px;
  }
  .section-hero h3 {
    font-size: 30px;
  }
  .section-btn {
    width: 100%;
    margin-top: 20px;
  }
  .section h5 {
    font-family: Aileron;
    font-size: 30px;
    line-height: 38px;
  }
  .section-hero h1 {
    font-size: 20px;
    text-wrap: wrap !important;
  }

  .section-hero {
    padding: 15px;
  }
  .section-Text {
    padding: 12px; /* Add some padding around the text */
    height: 130px;
  }
  .section-Text h5 {
    font-size: 20px;
  }
  .section-Text p {
    font-size: 12px;
  }
  br {
    display: none;
  }
  .partner-Text h3 {
    font-size: 20px;
  }
  .partner-Text p {
    font-size: 15px;
  }
  .partner-btn {
    padding: 12px 16px 12px 16px;
    font-size: 10px;
  }
  .news-Cont {
    margin-top: 70px;
  }
  .news-Text h5 {
    font-size: 18px;
  }
  .news-Text span {
    font-size: 12px;
  }
  .news-Btn {
    padding: 14px 24px 14px 24px;
    font-size: 12px;
  }
  .news-header {
    padding-top: 10px;
  }
  .section-column {
    margin-top: 10px;
  }

  .section-column h5 {
    font-size: 20px;
  }
  .section-column p {
    font-size: 12px;
  }

  .navbar-About {
    background: white;
  }
  .nav-btn2 {
    border: none;
    background-color: #dc2626;
    width: 100%;
  }
  .sectionCol {
    padding-top: 10px;
  }
  .footer {
    margin-top: 50px;
  }
  /*About page section*/

  .section-About h1 {
    font-size: 30px;
  }
  .Vision {
    margin-top: 100px;
  }
  .Value {
    padding-top: 0;
  }
  .team-member h6 {
    margin-top: 1rem;
    font-size: 13px;
  }
  .team-member span {
    font-size: 12px;
  }
  .section-Team h1 {
    font-size: 20px;
  }

  .section-Team p {
    font-size: 12px;
  }

  .sectionCol h5,
  .sectionCol-V h5 {
    font-size: 20px;
  }
  .sectionCol p,
  .sectionCol-V p {
    font-size: 12px;
  }
  .sectionCol-V li {
    font-size: 12px;
  }
  .team-member img {
    width: 100px;
  }
  /* Service page */
  .play-Col {
    padding-top: 10px;
    margin-bottom: 10px;
  }
  .Play-Col p {
    font-size: 16px;
  }
  .Play-Col h3 {
    font-size: 30px;
  }
  .Service-Col {
    padding-top: 10px;
    margin-bottom: 10px;
  }
  .Service-Col h3 {
    font-size: 30px;
  }
  .Service-Col p {
    font-size: 16px;
  }
  .Service {
    margin-top: 10px;
  }

  .service-Col {
    padding-bottom: 50px;
  }
  /* Contact page */
  .submit-btn {
    width: 100%;
  }
  .contact-Header {
    margin-top: 10px;
  }
  /* blog page */

  .blog-flex {
    border-radius: 20px;
  }
  .water-Img {
    border-radius: 20px;
  }
  .blog-Text h4 {
    font-size: 16px;
  }
  .blog-Text p {
    font-size: 14px;
  }
  .B__footer {
    padding-top: 10px;
  }
  /* .bl{
  display: none;
} */
}

@media (max-width: 480px) {
  .header-text h3 {
    font-size: 1.5rem; /* Smaller text for mobile */
  }

  .header-text p {
    font-size: 0.9rem; /* Smaller text for mobile */
  }

  .header-btn {
    font-size: 0.8rem;
    padding: 6px 12px; /* Smaller button for mobile */
  }
  .section {
    padding-top: 0;
  }
}
